name: GitHub Classroom Workflow

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dev dependencies
        run: npm install

      - name: Run Classroom Autograding
        uses: education/autograding@v1
